{% extends "index.html" %}
{% load static %}
<body>
 {% block main %}
 <div class="row">
    <div class="col-4">
      <div  class="list-group ">
        <!-- <a class="list-group-item list-group-item-action" href="#list-item-1">About Us</a> -->
        <a class="list-group-item list-group-item-action text-white bg-dark" href="#list-item-1">Industry-First Innovations</a>
        <a class="list-group-item list-group-item-action text-white bg-dark" href="#list-item-2">High-Quality Ingredients & Processes</a>
        <a class="list-group-item list-group-item-action text-white bg-dark" href="#list-item-3">Research Oriented</a>
        <img src = "{% static "app/images/motiva.jpg" %}" style="height: 100rem;">

      </div>
    </div>
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <h1><b>OUR <span style="color: rgb(229, 217, 84);">STORY</span></b></h1>
        <p style="font-size: x-large;">The journey of becoming India’s leading Sports Nutrition Brand
        MuscleBlaze® was founded in 2012 with the idea of providing India with sports nutrition supplements that are specifically focused on Indian customer needs and listens to their sentiments day in day out.
        MuscleBlaze® has quickly risen as consumer’s favorite brand with industry-first concept introductions like authenticity, protein test certificates, scoop on top, clinically researched products, etc.</p>

        <h2 id="list-item-1">Industry-First Innovations</h2>
        <p  style="font-size: x-large;">Understanding and acting upon the consumer pulse have always driven MuscleBlaze® to provide industry-first solutions. Be it the problem of fake supplements, customers’ tussle in finding the scoop in a new jar or low results from a regular protein supplement, MuscleBlaze® had answers to all of them.
        MuscleBlaze® was the first in India to introduce an SMS based product authenticity mechanism supported by a protein test certificate from NABL certified labs. MuscleBlaze® was also the first to introduce a patented Scoop-on-Top design to end the scoop tussle. And to top it all, MuscleBlaze’s Biozyme Whey is India’s first clinically tested product for Indian bodies which helps the consumers with enhanced protein absorption and thus better results and performance.</p>
        <h2 id="list-item-2">High-Quality Ingredients & Processes</h2>
        <p style="font-size: x-large;">Our passion for bringing international-grade fitness supplements has made us look around the world to source the very best whey and flavors. At MuscleBlaze® quality doesn’t just end at procuring the finest raw materials.
        The manufacturing of the final products takes place at FSSAI, HACCP certified state of the art plant, which means that your supplement undergoes rigorous testing and multiple quality checks before it reaches you. In order to give more power to your reps and sets, we at MuscleBlaze® work hard to ensure international safety standards. MuscleBlaze® products are tested in accordance with FSSAI standards to assure you complete safety and the highest degree of quality. Put your worries to rest, because it takes a lot for a supplement to become a MuscleBlaze® supplement, your trusted fitness partner.</p>
        <h2 id="list-item-3">Research Oriented</h2>
        <p style="font-size: x-large;">Driven by the desire to exceed your expectations, we have brought together pharmaceutical expertise and the best experts of the chocolate flavor to create a path-breaking formulation with unmatched taste.
        This gave birth to the "Best Tasting Chocolate Whey Protein Shake", which was confirmed by the consumers themselves in a blind taste study done by Nielsen in 2015.
        The same research orientation was also the bedrock for the formulation of Biozyme Whey, which was crafted over a 2-year period and clinically tested to provide 50% higher protein absorption. Our commitment to research-backed products helps us in our aim to become a sports nutrition brand that gives you international grade quality supplements and 100% safety assurance at a genuine price.</p>
        <img src = "{% static "app/images/a.jpg" %}" style="width: 50rem; height: 15rem;">
      </div>
    </div>
  </div>
  {% endblock %}
</body>