{% extends "index.html" %}
<body>
{% block main %}
<div class="row">
  <div class="col-4">
      <div class="contact-info h-100 p-3 bg-light rounded">
          <h3 class="text-danger">Contact</h3>
          <!-- <p>Feel free to contact us via phone or email, or drop by our office during business hours.</p> -->
          <ul class="list-unstyled">
              <li><strong>Address:</strong> 2nd Floor, Maxworth Premier Urban Tower B, 46/4, Mehrauli Rd, Opp. Government Girls College, Anamika Enclave, Sector 14, Gurugram, Haryana 122001</li><br>
              <li><strong>Email:</strong> info@MuscleBlaze.com</li><br>
              <li><strong>Phone:</strong> +91 8527732632</li><br>
              <!-- <li style="margin-top: 35rem;"><iframe src="https://www.google.com/maps/place/MuscleBlaze+(MB)+-+India's+Best+Bodybuilding+Supplement+Manufacturers/@28.4674232,77.0418744,15z/data=!4m6!3m5!1s0x390d192f70ae0c65:0x58d7face3f4f5d99!8m2!3d28.4674232!4d77.0418744!16s%2Fg%2F11hdw_yptl?entry=ttu&g_ep=EgoyMDI0MTAwNy4xIKXMDSoASAFQAw%3D%3D" allowfullscreen="" loading="lazy"></iframe> -->
              </li>
          </ul>
      </div>
  </div>
  {% comment %} <div class="col-8 card mx-auto mb-3" style="width: 60rem; margin-top: 2%; padding: 5%; background-color: rgb(130, 131, 129);>
  <form class="row g-3 needs-validation" novalidate >
    <h1 align = center style = "color:rgb(26, 20, 15);"><u>Contact Us For More Details</u></h1>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label" style="font-size:larger; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">First name</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder = "first name">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div><br>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label" style="font-size:larger; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder = "second name">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div><br>
    <div class="col-md-4">
      <label for="validationCustomEmail" class="form-label" style="font-size:larger; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Email</label>
      <div class="input-group has-validation">
        <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->
        <input type="text" class="form-control" id="validationCustomEmail" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div><br>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label" style="font-size:larger; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">City</label>
      <input type="text" class="form-control" id="validationCustom03" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div><br>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label" style="font-size:larger; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">State</label>
      <select class="form-select" id="validationCustom04" required>
        <option value="AP">Andhra Pradesh</option>
	      <option value="AR">Arunachal Pradesh</option>
	      <option value="AS">Assam</option>
	      <option value="BR">Bihar</option>
	      <option value="CT">Chhattisgarh</option>
	      <option value="GA">Gujarat</option>
	      <option value="HR">Haryana</option>
	      <option value="HP">Himachal Pradesh</option>
	      <option value="JK">Jammu and Kashmir</option>
	      <option value="GA">Goa</option>
	      <option value="JH">Jharkhand</option>
	      <option value="KA">Karnataka</option>
	      <option value="KL">Kerala</option>
	      <option value="MP">Madhya Pradesh</option>
	      <option value="MH">Maharashtra</option>
        <option value="MN">Manipur</option>
        <option value="ML">Meghalaya</option>
	      <option value="MZ">Mizoram</option>
	      <option value="NL">Nagaland</option>
	      <option value="OR">Odisha</option>
	      <option value="PB">Punjab</option>
	      <option value="RJ">Rajasthan</option>
	      <option value="SK">Sikkim</option>
	      <option value="TN">Tamil Nadu</option>
	      <option value="TG">Telangana</option>
	      <option value="TR">Tripura</option>
	      <option value="UT">Uttarakhand</option>
	      <option value="UP">Uttar Pradesh</option>
	      <option value="WB">West Bengal</option>
	      <option value="AN">Andaman and Nicobar Islands</option>
	      <option value="CH">Chandigarh</option>
	      <option value="DN">Dadra and Nagar Haveli</option>
	      <option value="DD">Daman and Diu</option>
	      <option value="DL">Delhi</option>
	      <option value="LD">Lakshadweep</option>
	      <option value="PY">Puducherry</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div><br>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label" style="font-size:larger; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" >Mobile Number</label>
      <input type="number" class="form-control" id="validationCustom05" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div><br>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
  </div> {% endcomment %}
  <div class="col-8 card mx-auto mb-3" style="width: 60rem; margin-top: 2%; padding: 5%; background-color: rgb(130, 131, 129);">
    <h2 class="text-center my-4"><u>Contact Us</u></h2>
    <div class="container shadow p-5">
        <form method="post" class="p-4 border rounded bg-warning shadow-sm">
            {% csrf_token %}
            
            
            <div class="mb-3">
                <label for="id_name" class="form-label">Name</label>
                {{ form.name }}
            </div>
    
            
            <div class="mb-3">
                <label for="id_email" class="form-label">Email address</label>
                {{ form.email }}
            </div>
    
            
            <div class="mb-3">
                <label for="id_message" class="form-label">Message</label>
                {{ form.message }}
            </div>
    
           
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
    
  </div>
</div>
{% endblock %}
