{% extends 'index.html' %}

{% load static %}
{% block title %}
  password Reset
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row my-3">
      <div class="col-sm-6 offset-sm-3">
        <h3 class="alert-heading text-success">Well Done</h3>
        <p>
          An Email has been sent to reset your password <br><b>Please check Email</b>
        </p>
        <div>
          <iframe src = "{% static 'app/images/sent.gif' %}" width="200" height="200"frameBorder="0" class="giphy-embed" allowfullscreen></iframe>
      </div>
      </div>
    </div>
  </div><br><br><br><br><br>
{% endblock %}