{% extends 'index.html' %}

{% load static %}
{% block title %}
  Password Changed
{% endblock title %}

{% block main %}
<div class="conatiner my-5">
    <div class="row">
        <div style = "margin-left: 5rem;">
        <h3>Welcome {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-success">Change Password Done</a>
                </li>
            </ul>
        </div>
        </div>
        <div class="col-sm-11 offset-sm-1 text-center">
            <h3 class="text-warning">Password Changed Successfully !</h3>
            <div>
                <iframe src = "{% static 'app/images/verify.gif' %}" width="200" height="200"frameBorder="0" class="giphy-embed" allowfullscreen></iframe>
            </div>
    
        </div>
    </div>
</div>
{% endblock %}