{% extends 'index.html' %}
{% load static %}
{% block title %}
Password Reset
{% endblock title %}
{% block main %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-success text-center">Reset Password Completed</h3>
            <div>
                <iframe src = "{% static 'app/images/verify.gif' %}" width="200" height="200"frameBorder="0" class="giphy-embed" allowfullscreen></iframe>
            </div>
            <hr>
        </div>
    </div>
</div>

{% endblock %}
